.flip-pricing {
  height: 60vh;
  perspective: 2000px;
}

.flip-pricing-inner {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 1);
  transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}

.flip-pricing-front,
.flip-pricing-back {
  backface-visibility: hidden;
}

.flip-pricing-back {
  transform: rotateY(180deg);
}

@media (min-width: 1024px) {
  .flip-pricing:hover .flip-pricing-inner {
    transform: rotateY(-180deg);
  }
}

@media (max-width: 1024px) {
  .flip-pricing-inner-mobile {
    transform: rotateY(-180deg);
  }
}
