.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide__number {
  

  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__controls {
  display: flex;

  justify-content: center;
}
.embla__buttons {
  
  grid-template-columns: repeat(2, 1fr);

  
}
.embla__button {
  border: 2px solid #93c5fd;
  border-radius: 50%;

  
  touch-action: manipulation;

  cursor: pointer;

 

  width: 2.6rem;
  height: 2.6rem;
  z-index: 1;

  color: #93c5fd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: #d1d5db;
  border: 2px solid #d1d5db;
}
